<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/bootstrap.min.js"></script>
<script src="/js/app/mustache.min.js"></script>


<script src="/js/app/jquery.lettering.js"></script>
<script src="/js/app/jquery.textillate.js"></script>

<!-- 응원글 쿠키 확인 js -->
<script src="/js/app/underpinsCookie.js"></script>
<!-- 기본 footer-->
<script src="/js/app/footer.js"></script>