<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- fontawesome-->
    <script src="https://kit.fontawesome.com/213c16776f.js" crossorigin="anonymous"></script>


</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">공부계획</a>

    <!--input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">로그아웃</a>
        </li>
    </ul-->
    <span style="margin-right: 10px;color: white;">
        <h8 class="tlt">
            <ul class="texts" id="underpins_ul">
                <li>힘내자</li>
                <li>화이팅아자아자</li>
            </ul>
        </h8>
    </span>
</nav>