{{>layout/header}}
<!-- 로그인 css-->
<link rel="stylesheet" href="/css/signin.css">
<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="/images/me.JPG" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="list-group">
    <a href="oauth2/authorization/google" class="btn btn-primary btn-login" role="button">Google
        Login</a>
    <a href="/oauth2/authorization/naver" class="btn btn-success btn-login" role="button">Naver
        Login</a>
    <a href="/api/v1/guests" class="btn btn-secondary btn-login" role="buttson">Guest</a>
    </div>
    <p class="mt-5 mb-3 text-muted">@햄의기록 ver.2</p>
</form>



</body>
{{>layout/footer}}
<script src="/js/app/loginView.js"></script>