{{>layout/header}}
<style>
    .planGole_table tr { height: 70px; }

</style>
<div class="container-fluid">
    <div class="row">
        {{>layout/sidebar}}
        <main role="main" class="col-md-11 ml-sm-auto px-4" style="padding-top:50px">
            <h1>계획 설정</h1><br>
            <div class="col-md-12">
                <div class="btn_div" style="margin-bottom: 10px;">
                    <button class="btn btn-secondary" type="button" onclick="gole_modal()"><i class="fas fa-plus-circle" aria-hidden="true"></i> 목표추가</button>
                </div>
                <!--body-->
                <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered planGole_table">
                            <tr><td></td><td></td><td></td></tr>
                            <tr><td></td><td class="table-success"></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-bordered planGole_table">
                            <tr><td></td><td></td><td></td></tr>
                            <tr><td></td><td class="table-success"></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                        </table>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <table class="table table-bordered planGole_table">
                            <tr><td></td><td></td><td></td></tr>
                            <tr><td></td><td class="table-success"></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-bordered planGole_table">
                            <tr><td></td><td></td><td></td></tr>
                            <tr><td></td><td class="table-success"></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                        </table>
                    </div>
                </div>
                </div>
                <!--body end-->

            </div>
        </main>

        <div class="modal" tabindex="-1" role="dialog" id="gole_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >목표 설정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="content">목표</label>
                                <textarea class="form-control" cols="20" rows="10" id="gole_modal_title" placeholder="목표를 입력하세요"></textarea>
                            </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-save" id="modal_save" onclick="gole_modal_save()">저장하기</button>
                    </div>
                </div>
            </div>
        </div>
        {{>layout/footer}}
        <script src="/js/app/planGGole.js"></script>
