{{>layout/header}}

<div class="container-fluid">
    <div class="row">
        {{>layout/sidebar}}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top:50px">
            <h1>채용정보</h1>
            <div class="col-md-12">
                <table class="table table-bordered" id="info_table">

                </table>
            </div>
        </main>
        {{>layout/footer}}
        <script src="/js/app/recruitInfo.js"></script>