{{>layout/header}}

<div class="container-fluid">
    <div class="row">
        {{>layout/sidebar}}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top:50px">
            <h1>응원 글 관리</h1>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/underpins/save" role="button" class="btn btn-primary">글 등록</a>
                    </div>
                </div>
                <br>
                <!-- 목록 출력 영역 -->
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th width="5%">번호</th>
                        <th width="5%">적용</th>
                        <th align="center">내용</th>
                    </tr>
                    </thead>
                    <tbody id="underpinsList_table">
                    {{#underpins}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{isAppend}}</td>
                            <td align="center"><a href="/underpins/update/{{id}}">{{content}}</a></td>
                        </tr>
                    {{/underpins}}
                    </tbody>
                </table>
            </div>
        </main>
{{>layout/footer}}
<script src="/js/app/underpins.js"></script>