{{>layout/header}}
<style>
    .day_content{
        width:100%;
        height:100%;
        background:lightgrey;
    }
    .day_time{
        background:yellow;
    }
</style>
<script>
        // Ignore this in your implementation
        window.isMbscDemo = true;

</script>
<!-- Mobiscroll JS and CSS Includes -->
<link rel="stylesheet" href="/js/app/mobiscroll.jquery.min.css">
<script src="/js/app/mobiscroll.jquery.min.js"></script>
<body>

<div class="container-fluid">
<div class="row">
    {{>layout/sidebar}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top:50px">
        <h1>주간 기록</h1>

        <div class="row">
            <div class="col-4">
                <div mbsc-page class="demo-week-selection" style="width: fit-content;">
                    <div mbsc-form>
                        <div class="mbsc-grid">
                            <div class="mbsc-row">
                                <div class="mbsc-col-sm-12 mbsc-col-md-4">
                                    <div class="mbsc-form-group">
                                        <div class="mbsc-form-group-title">Mon-Sun</div>
                                        <div id="demo-mon-sun"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--달력 끝-->
            <div class="col-8">
                <table id="weekly_table" class="table table-bordered" style="height:100%">
                    <tr>
                        <td id="day_1">월</td>
                        <td id="day_2">화</td>
                        <td id="day_3">수</td>
                        <td id="day_4">목</td>
                        <td id="day_5">금</td>
                        <td id="day_6">토</td>
                        <td id="day_7">일</td>
                    </tr>
                    <tr style="height:100%">
                        {{#records}}
                            <td class="day_record" >
                                <span class="day_time">{{hour}} 시간 {{minute}}분</span>
                                <div class="day_content">{{content}}</div>

                            </td>
                        {{/records}}
                    </tr>
                </table>
            </div>
        </div>
    </main>
</div>

<script>

    mobiscroll.settings = {
        lang: 'en',                      // Specify language like: lang: 'pl' or omit setting to use default
        theme: 'ios',                    // Specify theme like: theme: 'ios' or omit setting to use default
            themeVariant: 'light'        // More info about themeVariant: https://docs.mobiscroll.com/4-10-2/calendar#opt-themeVariant
    };
    // 날짜 클릭시
    function changeSelectedDate(selectedDate){
        console.log("selectedDate :"+selectedDate);
        var data = {
            selectedDate: selectedDate
        };
         $.ajax({
            type: 'PUT',
            url: '/api/v1/records',
            dataType: 'json',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function(data) {
            console.log("selected success, data ->");
            console.log(data);
            //window.location.href = '/';
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }
    $(function () {

        var fromMonday = [],
            i = 0,
            j = 0;

        for (i; i < 7; i++) {
            fromMonday.push(new Date(2020, 0, 8 + i));
        }

        // Mobiscroll Calendar initialization
        $('#demo-mon-sun').mobiscroll().calendar({
            display: 'inline',           // Specify display mode like: display: 'bottom' or omit setting to use default
            selectType: 'week',          // More info about selectType: https://docs.mobiscroll.com/4-10-2/calendar#opt-selectType
            defaultValue: fromMonday,    // More info about defaultValue: https://docs.mobiscroll.com/4-10-2/calendar#opt-defaultValue
            firstSelectDay: 1,           // More info about firstSelectDay: https://docs.mobiscroll.com/4-10-2/calendar#opt-firstSelectDay
            firstDay: 1                  // More info about firstDay: https://docs.mobiscroll.com/4-10-2/calendar#localization-firstDay

            // 버튼 클릭 시
             ,onSetDate: function (event, inst) {
                console.log("onSetDate");
                console.log(event.date);
                console.log(inst);
                console.log(inst.getVal());
                console.log(inst._value);
                //changeSelectedDate(event.date);
             }

        });

    });

</script>
</body>
